body{
	margin: 0;
	padding: 0;
}

.btn-poke{
	background-color: #ef5350;
	color: #fff;
	border: none;
	padding: 7px 15px;
}
.btn-poke:hover{
	background-color: #C62828;
	color: #fff;
}
.header h1{
	margin-bottom: 40px;
	color: #ef5350;
}

.modal-footer{
	height: 100vh;
	border: none;
}
.modal-footer img{
	position: absolute;
	left: 0;
}
.modal-footer span{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 40px;
}
.btn-see-more{
	background-color: transparent;
}


/*TIPOS*/
.normal{
	color: #a8a878;
}
.grass{
	color: #78c850;
}
.poison{
	color: #a040a0;
}
.pyschic{
	color: #f85888;
}
.ground{
	color: #e0c068;
}
.ice{
	color: #98d8d8;
}
.fire{
	color: #f08030;
}
.rock{
	color: #b8a038;
}
.dragon{
	color: #7038f8;
}
.water{
	color: #6890f0;
}
.bug{
	color: #a8b820;
}
.dark{
	color: #705848;
}
.fighting{
	color: #c03028;
}
.ghost{
	color: #705898;
}
.steel{
	color: #b8b8d0;
}
.flying{
	color: #a890f0;
}
.electric{
	color: #f8d030;
}
.fairy{
	color: #ee99ac;
}