body{
	margin: 0;
	padding: 0;
	color: #6B6B69;
}

.btn-poke{
	background-color: #ef5350;
	color: #fff;
	border: none;
	padding: 7px 15px;
}
.btn-poke:hover{
	background-color: #C62828;
	color: #fff;
}
.header h1{
	margin-bottom: 40px;
	color: #ef5350;
}

.modal-footer{
	height: 100vh;
	border: none;
}
.modal-footer img{
	position: absolute;
	left: 0;
}
.modal-footer span{
	position: absolute;
	top: -130px;
    right: -280px;
    font-size: 40px;
}
.modal-content {
   padding: 10px 40px;
   height: 80vh;
}

.btn-see-more{
	background-color: transparent;
	padding: 20px;
	color: #6B6B69;
}

.description{
	display: inline-block;
	margin: 10px;
}
.description h3{
	font-size: 15px;
}
.status{
	text-align: left;
}
.status div h6, .status div p{
	display: inline-block;
}
.tipo1, .tipo2{
	margin-right: 10px;
	padding: 2px 8px;
	border-radius: 10px;
	color: #fff;
}
/*TIPOS*/
.normal{
	background-color: #a8a878;
}
.grass{
	background-color: #78c850;
}
.poison{
	background-color: #a040a0;
}
.pyschic{
	background-color: #f85888;
}
.ground{
	background-color: #e0c068;
}
.ice{
	background-color: #98d8d8;
}
.fire{
	background-color: #f08030;
}
.rock{
	background-color: #b8a038;
}
.dragon{
	background-color: #7038f8;
}
.water{
	background-color: #6890f0;
}
.bug{
	background-color: #a8b820;
}
.dark{
	background-color: #705848;
}
.fighting{
	background-color: #c03028;
}
.ghost{
	background-color: #705898;
}
.steel{
	background-color: #b8b8d0;
}
.flying{
	background-color: #a890f0;
}
.electric{
	background-color: #f8d030;
}
.fairy{
	background-color: #ee99ac;
}